.list-group::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .list-group {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .card{
    width: 35vw;
  }

  @media screen and (max-width:768px) {
    .card{
        width: 70vw;
      }
  }

  @media screen and (max-width:576px) {
    .card{
        width: 90vw;
      }
  }